<div class="flex flex-col gap-4 p-4 w-full max-w-md mx-auto">
    <h2 class="text-2xl font-semibold mb-2">Delete contact</h2>
    <div class="grayed-deleted">

        <p>Would you like to delete <strong>{{ contact().name }}</strong>?</p>
        <div class="flex flex-row justify-end gap-2 mt-4">
            <button mat-button type="button" (click)="onNoClick()">Cancel</button>
            <button mat-button color="warn" type="button" (click)="onSubmit()">Delete</button>
        </div>
    </div>
</div>