<main class="px-6">
  winson
  <div>
    @for (product of Products; track product.id) {
    <div>
      <h2>{{ product.product_name }}</h2>
    </div>
    }
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button">Dropdown item</button></li>
      <li><button class="dropdown-item" type="button">Dropdown item</button></li>
      <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</main>