<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 p-6 w-full max-w-md mx-auto ">

    <app-contact-form 
    [contactForm]="contactForm"
    (valueChanged)="onValueChanged($event)"
    />



    <div class="flex flex-row justify-between gap-2 mt-4">
        <button mat-button type="button" class="add-contact-custom-border" (click)="onNoClick()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="contactForm.invalid" class="bg-violet-500 text-white rounded-md p-2">Add Contact</button>
    </div>
</form>